In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BasicData_clean.csv')
val_data = pd.read_csv('val_data.csv')

In [5]:
df

,#Organism group,Isolate,AMR genotypes,drug,resistance
0,Listeria monocytogenes,PDT000077416.3,"fosx, lin",chloramphenicol,0.0
1,Listeria monocytogenes,PDT000077416.3,"fosx, lin",clindamycin,1.0
2,Listeria monocytogenes,PDT000077416.3,"fosx, lin",erythromycin,0.0
3,Listeria monocytogenes,PDT000077416.3,"fosx, lin",gentamicin,0.0
4,Listeria monocytogenes,PDT000077416.3,"fosx, lin",levofloxacin,0.0
...,...,...,...,...,...
316066,Enterobacter roggenkampii,PDT000898827.2,"blamir, cata, fosa, mcr10.1, oqxa, oqxb",tetracycline,0.0
316067,Enterobacter roggenkampii,PDT000898827.2,"blamir, cata, fosa, mcr10.1, oqxa, oqxb",trimethoprim-sulfamethoxazole,0.0
316068,Enterobacter roggenkampii,PDT001161812.2,"blamir16, cata, fosa, oqxb",ertapenem,0.0
316069,Enterobacter roggenkampii,PDT001161812.2,"blamir16, cata, fosa, oqxb",imipenem,0.5
316070,Enterobacter roggenkampii,PDT001161812.2,"blamir16, cata, fosa, oqxb",meropenem,0.0

In [6]:
df['#Organism group'].nunique()

37

In [7]:
df['Isolate'].nunique()

22097

In [11]:
unique_isolate_counts = df.groupby('#Organism group')['Isolate'].nunique()
unique_isolate_counts_df = unique_isolate_counts.reset_index()
unique_isolate_counts_df

                 #Organism group  Isolate
0        Acinetobacter baumannii     1113
1          Aeromonas salmonicida        1
2   Burkholderia cepacia complex        5
3           Campylobacter jejuni     2831
4           Citrobacter freundii       17
5       Clostridioides difficile        1
6       Corynebacterium striatum        3
7                    Cronobacter        1
8            E.coli and Shigella     6326
9          Enterobacter asburiae        5
10      Enterobacter bugandensis        1
11          Enterobacter cloacae       66
12       Enterobacter hormaechei       39
13            Enterobacter kobei        6
14         Enterobacter ludwigii        3
15     Enterobacter roggenkampii       15
16         Enterococcus faecalis       20
17          Enterococcus faecium       16
18            Klebsiella oxytoca       23
19         Klebsiella pneumoniae      921
20           Kluyvera_intermedia        1
21        Listeria monocytogenes        2
22           Morganella morganii        6
23         Neisseria gonorrhoeae      477
24         Pasteurella multocida       10
25       Pluralibacter gergoviae        5
26     Providencia alcalifaciens       24
27        Pseudomonas aeruginosa      598
28            Pseudomonas putida        1
29           Salmonella enterica     8573
30           Serratia marcescens       26
31         Staphylococcus aureus      638
32  Stenotrophomonas maltophilia        7
33      Streptococcus agalactiae        1
34      Streptococcus pneumoniae      304
35               Vibrio cholerae        2
36       Vibrio parahaemolyticus        9

In [14]:
unique_isolate_counts_df[unique_isolate_counts_df['Isolate']>60]

             #Organism group  Isolate
0    Acinetobacter baumannii     1113
3       Campylobacter jejuni     2831
8        E.coli and Shigella     6326
11      Enterobacter cloacae       66
19     Klebsiella pneumoniae      921
23     Neisseria gonorrhoeae      477
27    Pseudomonas aeruginosa      598
29       Salmonella enterica     8573
31     Staphylococcus aureus      638
34  Streptococcus pneumoniae      304